kind: Deployment
apiVersion: apps/v1
metadata:
   name: website
spec:
   strategy:
      type: Recreate
   replicas: 3
   selector:    
    matchLabels:
     app: website
   template:
      metadata:
        labels:
          app: website
      spec:
       containers:
        - name: website
          image: ranjarat/website
          imagePullPolicy: Always
          ports:
          - containerPort: 80
---

kind: Service                             
apiVersion: v1
metadata:
  name: website
  labels:
    app: website
spec:
  ports:
    - port: 80                               
      targetPort: 80                    
      nodePort: 31200
  selector:
    app: website                    
  type: LoadBalancer    
